.app {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6dd5fa, #2980b9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  height: 10%;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1.5rem;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.date-info {
  text-align: center;
  flex-grow: 1;
}

.date-text {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}

.week-number {
  font-size: 1rem;
  margin-top: 0.2rem;
  display: block;
}

.nav-button svg {
  font-size: 30px;
  color: #fff;
}

.nav-button:hover {
  background-color: #6dd5fa;
  transform: scale(1.1);
}

.nav-button:active {
  transform: scale(1.05);
}

.content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
}
